body, main, p, a, h2, nav {
    font-family: 'Outfit', sans-serif;
}


main {
    
    background-color:aliceblue;
    margin: auto;
    width: 1200px;
    width: 1200px;
    border-radius: 5%;
    padding-left: 100px; padding-right: 100px;
    display: grid;

    grid-template-areas:
        "n n n"
        "h h h"
        "y y as"
        "k k k";

    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

nav {
    grid-area: n;
    padding: 10px;
}

.navig {
    text-decoration: none;
    color: rgb(32, 57, 85);
    font-weight: 500;
    font-size: 24px;
    padding-right: 20px;
}

header {
    grid-area: h;
    position: relative;
}

.kep {
    text-align: center;
}

img {
    width: 100%;
    border-radius: 50px;
}

header h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-shadow: 0 0 10px black;
}


#yipyap1 {
    grid-area: y;
    padding: 10px;
}

h2 {
    font-weight: 800;
    font-size: 32px;
}

p {
    font-size: 20px;
    width: 700px;
}

aside {
    grid-area: as;
    padding: 10px;
    margin: auto;
}


#info {
    font-weight: 400;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 14px 30px;
    border-radius: 30px;
    font-size: 30px;
}

#kepek {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: k;
    padding: 20px;
}

#kepek img {
    margin: auto;
    height: 90%;
    width: 90%;
    gap: 10px;


}
