.navig {
    text-decoration: none;
    color: rgb(32, 57, 85);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-right: 20px;

}

img {   
    width: 50%;
    border-radius: 50px;
}

.kep {
    text-align: center;
    
}

#info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 14px;
    border-radius: 30px;
    padding-right: 30px;
    padding-left: 30px;
    

}