*{
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: rgb(238, 231, 224);
}



.kep-kontener {

    background-image: url('kepek/Torino1.webp');
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px; 
    width: 100%;
    display: grid; 
    place-items: center;
}

 header h1{ 
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-size: 2.5em;
}
section{
    margin: 20px 0;
    padding: 20px;
    background-color: #e3dcd7;
    border-radius: 15px;
}
section p{
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #bdbcbc;
}

section img{
    border-radius: 20px;
    max-width: 200px; 
    height: auto;    
    display: block;
    transition: transform 0.3s ease;
}

section img:hover{
    border-radius: 20px;
    max-width: 200px; 
    height: auto;    
    display: block;
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: black;
}

nav{
    position: sticky;
    background-color: rgb(238, 231, 224, 0.97);
    padding: 10px;
    border-radius: 10px;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 20px 0;
}

nav a {

    color: rgb(137, 137, 137);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 18px;
    border-radius: 25px;
    transition: all 0.3s ease;

}

nav a:hover{
    background: white;
    color: black;
    transform: translateY(-3px);

}

article{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto ;
    justify-content: center;
    gap: 20px; 
    padding: 20px 0;
    max-width: 1300px; 
    left: 0;
}

@media (min-width: 576px) {
    

    nav {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    }
    nav a {
        max-width: none; 
    }


    article {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 768px) {
    
    body {
        max-width: 1100px;
    }
    

    article {
        grid-template-columns: repeat(3, 1fr);
    }
}



