*{
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: rgb(238, 231, 224);
}

header img{
    border-radius: 20px;
    max-width: 100%; 
    height: auto;    
    display: block;
    margin: auto;
}

 header h1{ 
    text-transform: uppercase;
    padding: 20px;
    font-size: 2.5em;
}
section{
    margin: 20px 0;
    padding: 20px;
    background-color: #e3dcd7;
    border-radius: 15px;
}
section p{
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #bdbcbc;
}

section img{
    border-radius: 20px;
    max-width: 200px; 
    height: auto;    
    display: block;
    transition: transform 0.3s ease;
}

section img:hover{
    border-radius: 20px;
    max-width: 200px; 
    height: auto;    
    display: block;
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: black;
}

nav{
    text-align: justify;
    margin: 20px 0;
}

nav a {
    color: rgb(137, 137, 137);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 18px;
    border-radius: 25px;
    transition: all 0.3s ease;

}

nav a:hover{
    background: white;
    color: black;
    transform: translateY(-3px);

}

article{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto ;
    justify-content: center;
    gap: 20px; 
    padding: 20px 0;
    max-width: 1300px; 
    left: 0;
}