*{
    box-sizing: border-box;
    justify-content: center;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-areas: 
    "n h h"
    "n as ar"
    "n as ar";
    background-color: aliceblue;
}

nav {
    grid-area: n;
}


header{
    display: grid;
    grid-area: h;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    font-size: 130%;
    background-image: url('pilla\ kepek/header kep 3');
}

header h1{
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 10px black;
}

article{
    margin-bottom: 50%;
    display: grid;
    grid-area: ar;
    background:#fafafa;
    padding: 20px;
    width: 100%;
    height: 105%;
    box-sizing: border-box;
}

article p{
    border-radius: 5px;
    color:black;
    font-weight: bold;
    border:30px rgb(206, 212, 216);
    background: rgb(206, 212, 216);
    font-family: Arial, Helvetica, sans-serif;
}


aside{
    margin-top: 40px;
    display: grid;
    grid-area: as;
    background: #fafafa;
}

aside img{
    width:80%;
    border-radius: 50px;
}

@media (max-width: 700px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "n"
            "as"
            "ar";
    }
}