*{
    box-sizing: border-box;
    justify-content: center;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-areas: 
    "n h h"
    "n as ar"
    "n as ar";
    background: #fafafa;
}

nav {
    grid-area: n;
    padding: 10px;
}

.navig {
    text-decoration: none;
    color: rgb(32, 57, 85);
    font-weight: 500;
    font-size: 24px;
    padding-right: 20px;
}

header{
    display: grid;
    grid-area: h;
    background-color: #b4c3dd;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 140%;
}

header h1{
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    margin-bottom: 50%;
    display: grid;
    grid-area: ar;
    background: #fafafa;
    padding: 20px;
    width: 100%;
    height: 105%;
    box-sizing: border-box;
}

article p{
    border-radius: 5px;
    color:white;
    font-weight: bold;
    border:10px solid#758ab4;
    background: #758ab4;
    font-family: Arial, Helvetica, sans-serif;
}


aside{
    margin-top: 40px;
    display: grid;
    grid-area: as;
    background: #fafafa;
}

aside img{
    width:80%;
}

@media (max-width: 700px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "n"
            "as"
            "ar";
    }
}